* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3 {
  color: rgb(56, 56, 56);
}

h3,
h4 {
  font-weight: 400;
  color: rgb(100, 100, 100);
}

@import "./nav";
@import "./player";
@import "./songDisplay";
@import "./library";

.app {
  // color: red;
  transition: all 0.5s ease;
}

.library-active {
  margin-left: 30%;
}
