* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}

h1,
h2,
h3 {
  color: rgb(56, 56, 56);
}

@import "./player";
@import "./songDisplay";
@import "./library";
